diagrams/*.eps
diagrams/*.pdf
diagrams/*.png
diagrams/*.xcf
diagrams/*celiroom*
misc_and_testing/GUI.py
pySALESetup_files/test.py
pySALESetup_files/*.dat
pySALESetup_files/*.txt
pySALESetup_files/*.png
pySALESetup_files/*.eps
pySALESetup_files/*.pdf
pySALESetup_files/*.bmp
pySALESetup_files/*.iSALE
pySALESetup_files/*.pyc
pySALESetup_files/*/*.png
pySALESetup_files/*/*.eps
pySALESetup_files/*/*.pdf
pySALESetup_files/*/*.iSALE
pySALESetup_files/*/*.pyc
pySALESetup_files/mesh_creation/pySALESetup.py
pySALESetup_files/mirrorimpact_doubled/
*.png
*.eps
*.pdf
*.jpg
*.csv
*.txt
*.pyc
