diagrams/*.eps
diagrams/*.pdf
diagrams/*.png
pySALESetup_files/*.png
pySALESetup_files/*.eps
pySALESetup_files/*.pdf
pySALESetup_files/*.iSALE
pySALESetup_files/*.pyc
pySALESetup_files/*/*.png
pySALESetup_files/*/*.eps
pySALESetup_files/*/*.pdf
pySALESetup_files/*/*.iSALE
pySALESetup_files/*/*.pyc
pySALESetup_files/mesh_creation/pySALESetup.py
*.png
*.eps
*.pdf
*.jpg
*.csv
